<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowPairing</key>
	<true/>
	<key>AutoAdvanceSetup</key>
	<false/>
	<key>AwaitDeviceConfigured</key>
	<false/>
	<key>CloudConfigurationUIComplete</key>
	<true/>
	<key>ConfigurationSource</key>
	<integer>0</integer>
	<key>ConfigurationURL</key>
	<string></string>
	<key>ConfigurationWasApplied</key>
	<true/>
	<key>IsMDMUnremovable</key>
	<integer>0</integer>
	<key>IsMandatory</key>
	<false/>
	<key>IsMultiUser</key>
	<false/>
	<key>IsSupervised</key>
	<false/>
	<key>OrganizationAddress</key>
	<string>N/A</string>
	<key>OrganizationAddressLine1</key>
	<string>N/A</string>
	<key>OrganizationAddressLine2</key>
	<string>N/A</string>
	<key>OrganizationCity</key>
	<string>N/A</string>
	<key>OrganizationCountry</key>
	<string>N/A</string>
	<key>OrganizationDepartment</key>
	<string>N/A</string>
	<key>OrganizationEmail</key>
	<string>noreply@localhost.localdomain</string>
	<key>OrganizationMagic</key>
	<string></string>
	<key>OrganizationName</key>
	<string>Skip this step</string>
	<key>OrganizationPhone</key>
	<string>N/A</string>
	<key>OrganizationSupportPhone</key>
	<string>N/A</string>
	<key>OrganizationZipCode</key>
	<string>N/A</string>
	<key>PostSetupProfileWasInstalled</key>
	<true/>
	<key>SkipSetup</key>
	<array>
		<string>Accessibility</string>
		<string>ActionButton</string>
		<string>Android</string>
		<string>Appearance</string>
		<string>AppleID</string>
		<string>AppStore</string>
		<string>Biometric</string>
		<string>CameraButton</string>
		<string>DeviceToDeviceMigration</string>
		<string>Diagnostics</string>
		<string>DisplayTone</string>
		<string>EnableLockdownMode</string>
		<string>HomeButtonSensitivity</string>
		<string>iCloudDiagnostics</string>
		<string>iCloudStorage</string>
		<string>iMessageAndFaceTime</string>
		<string>Intelligence</string>
		<string>Keyboard</string>
		<string>Location</string>
		<string>MessagingActivationUsingPhoneNumber</string>
		<string>Multitasking</string>
		<string>OnBoarding</string>
		<string>OSShowcase</string>
		<string>Passcode</string>
		<string>Payment</string>
		<string>Privacy</string>
		<string>Restore</string>
		<string>RestoreCompleted</string>
		<string>Safety</string>
		<string>SafetyAndHandling</string>
		<string>ScreenTime</string>
		<string>SIMSetup</string>
		<string>Siri</string>
		<string>SpokenLanguage</string>
		<string>SoftwareUpdate</string>
		<string>TermsOfAddress</string>
		<string>TOS</string>
		<string>Tips</string>
		<string>TrueTone</string>
		<string>UnlockWithWatch</string>
		<string>UpdateCompleted</string>
		<string>Wallpaper</string>
		<string>WatchMigration</string>
		<string>Welcome</string>
		<string>Zoom</string>
		<string>Language</string>
		<string>Country</string>
	</array>
	<key>SupervisorHostCertificates</key>
	<array/>
</dict>
</plist>
